@model tumibankapp.Data.OverDraft

@{
    ViewData["Title"] = "Create";
}

<h4>Creat new Over Draft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Overdraftfee" class="control-label"></label>
                <input asp-for="Overdraftfee" class="form-control" />
                <span asp-validation-for="Overdraftfee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeductOverdraftFee" class="control-label"></label>
                <input asp-for="DeductOverdraftFee" class="form-control" />
                <span asp-validation-for="DeductOverdraftFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
